pydantic 
langchain
langgraph
langsmith
langchain-core
langchain-community
python-dotenv
langchain-groq
arxiv
wikipedia
langchain_tavily
langgraph-cli[inmem]
fitz
PyMuPDF
Pillow
transformers
torch
numpy
scikit-learn
faiss-cpu